@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    background-color: black;
}

body {
    text-align: center;
    margin: auto;
    font-family: 'Press Start 2P', cursive;
}

.container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: white;
    border: 2px solid black;
    height: 500px;
    border-radius: 5%;
}

ul {
    list-style-type: none;
    text-align: left;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
}

li {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    background-color: rgb(232, 250, 128);
    border-radius: 3px;
}